body {
  background-color: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

body, html {
  width: 100%;
}

#parent {
  display: flex;
justify-content: center;
align-items: center;
}

#header {
  text-align: center;
  font-size: 15em;
}

#jobTitle {
  text-align: center;
  font-size: 4.5em;
    border-top: 1px solid white;
    display: inline;
      margin: 0 auto;
}

#icons {
	text-align: center;
	width:100%;
	margin: 50px auto 200px;
}

#icons span{
width:33.33333333%;
  float: left;
}

#icons img {
 width: 150px;
 transition: width 2s;
}

#icons img:hover {
  width: 175px;
}

.bodyWrapper {
  text-align: center;
  width: 100%;
  margin: 500 auto 0;
  border: 5px solid black;
}

.apps {
  margin: 0 auto;
  border: 5px solid black;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
}

.app {
  width: 90%;
  margin: 0 auto;
  border: 5px solid black;
}

.title {
  font-size: 4.5em;
}

.description {
  font-size: 2em;
}

.slideshow {
  width: 100%;
}
