body {
  background-color: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

body, html {
  width: 100%;
}

#header {
  text-align: center;
  font-size: 15em;
}

#icons {
	text-align: center;
	width:100%;
	margin: 50px auto 150px;
}

#icons span{
width:33.33333333%;
  float: left;
}

#icons img {
 width: 150px;
 transition: width 2s;
}

#icons img:hover {
 width: 175px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  margin: 0 auto;
	min-width: 400px;
  max-width: 750px;
  font-size: 2.5em;
}

.grid-item img {
  margin: 0 auto;
	min-width: 400px;
  max-width: 750px;
  font-size: 2.5em;
}

.grid-item h3 {
  font-size: 4em;
  text-align: center;
}

#image img {
    position:absolute;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.grid-item #pic1 {

}
.grid-item #pic2 {
    -webkit-animation-delay: -4s;
}
.grid-item #pic3 {
    -webkit-animation-delay: -2s;
}

.grid-item #pic4 {

}
.grid-item #pic5 {
    -webkit-animation-delay: -4s;
}
.grid-item #pic6 {
    -webkit-animation-delay: -2s;
}

.grid-container span {
  width: 50%
    margin: 0 auto;

}
.grid-container span img{
  width: 50%
    margin: 0 auto;
	min-width: 400px;
  max-width: 750px;
  font-size: 2.5em;
}
